<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @terminal.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @terminal.direccion %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @terminal.ciudad %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @terminal.pais %>
</p>

<p>
  <strong>Numpista:</strong>
  <%= @terminal.numpista %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @terminal.telefono %>
</p>

<%= link_to 'Edit', edit_terminal_path(@terminal) %> |
<%= link_to 'Back', terminals_path %>
